h1{
	text-align:center;
}
.row{
	padding-left:300px;
	padding-right:3000px;
	display:flex;
	float:left;
	
}

.image{
	display:block;
	width:200px;
	height:250px;
	
}

.overlay{
	position:absolute;
	text-align:center;
	top:0;
	left:0;
	padding:10px;
	background-color:rgba(0,0,0,0.6);
	color:#fff;
	font-family:sans-serif;
	flex-direction:column;
	overflow:hidden;
	width:200px;
	height:250px;
	transition:opacity 0.25s;
	display:flex;
	align-items:center;
	justify-content:center;
	opacity:0;
}

	
}

.overlay>*{
	transform:translateY(20px);
	transition:opacity 0.25s;
	
}


.overlay:hover{
	opacity:1;
	
}
.overlay:hover>*{
	transform:translateY(0);
}


.text{

	font-size:1em;
	margin-top:0.25em;
	
}


.content_img{
	position:relative;
	float:left;
	display:block;
	padding:10px;
	
	width:200px;
	
	
}

	


