body { background-color: white;
color:black;
}

nav {
    background-color: red;
    overflow: hidden;
    align-items: center;
    padding: 14px 16px;
}
nav a {
    text-decoration: none;
    padding: 40px;
    text-align: center;
    float: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
}




