body { background-color: white;
color:black;
}



ul{
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
}
}

li  {
  display: block;
  padding: 8px;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float:left;
}
